* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_9 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_13 {
  width: 984px;
  height: 814px;
  background: rgba(255,137,0,1);
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 178px;
}
.v4_12 {
  width: 905px;
  height: 100%;
  background: url("../images/v4_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 267px;
  overflow: hidden;
}
.v4_14 {
  width: 420px;
  color: url("../images/v4_14.png");
  position: absolute;
  top: 101px;
  left: 317px;
  font-family: Manjari;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v4_15 {
  width: 423px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 244px;
  left: 317px;
  font-family: Fredoka;
  font-weight: Regular;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.v4_16 {
  width: 208px;
  height: 56px;
  background: rgba(255,108,108,1);
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 317px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v4_17 {
  width: 201px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 327px;
  left: 313px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
